* {
  margin: 0;
  padding: 0
}

div {
  padding: 10px 0;
}

body {
  font-family: "Verdana", "Tahoma", sans-serif;
  color: #005365;
  margin: 0 20px;
}

p {
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
}

.header-title {
  font-size: 30px;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

.header-wrapper-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  background: #005365;
  position: fixed;
}

.nav-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  min-height: 40px;
  background: #fff;
  padding: 5px;
}
.nav-header-item {
padding: 0px 20px;
}

.nav-header-item-link {
  font-weight: bold;
  text-decoration: none;
  color: #005365;
}

.nav-header-item-link:hover {
  color: #0092B2;
}

.intro-wrapper-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  min-height: 800px;
  background: #005365;
  background: url(../images/stars02.jpg) repeat center fixed;
}

.intro-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
  background: url(../images/intro_bg_orange_full.png) no-repeat top center fixed;
  padding-left: 60px;
}

.reasons-wrapper-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  background: #ddd;

}

.reasons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
}

.reasons-item {
  width: 33.33%;
  padding: 0 20px;
}

.features-wrapper-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  background: #eee;
}

.features-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  width: 960px;
}

.features-item {
  width: 50%;
  padding: 0 20px;
}

.order-wrapper-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  background: #005365;
  background: url(../images/stars02.jpg) repeat center fixed;
}

.order-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
  background: url(../images/intro_bg_orange_full.png) no-repeat center center fixed;
}

.order-item-60 {
  width: 60%;
  padding: 40px;
}

.order-item-40 {
  width: 40%;
  padding: 40px 20px 40px 40px;
}

.order-item-100 {
  width: 100%;
  padding: 40px;
}

.image-center {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.image-left {
  float: left;
  width: 100px;
  height: 100px;
  padding: 0 20px 20px 0;
}

.form {
  float: left;
  border: 1px solid #0092B2;
  border-radius: 5px;
  background: rgba(0, 83, 102, 1);
  padding: 20px;
}

.form-field {
  width: 180px;
  height: 180px;
  border: 1px solid #888;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 18px;
  color: #eee;
  margin-bottom: 20px;
}

.form-textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 40px 0;
}

.form-button {
  display: block;
  width: 160px;
  padding: 12px;
  background: #00D0FE;
  border-radius: 5px;
  border: 0;
  transition: 0.3s;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 20px 0;
}

.form-button:hover {
  background: #7de8ff;
  box-shadow: 0 0 15px 1px #fbf7cb;
}

.intro-button {
  display: block;
  width: 180px;
  height: 50px;
  line-height: 46px;
  background: #0092B2;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  }

.intro-button:hover {
  background-color: #00D0FE;
}

.title-text-large {
  font-size: 48px;
}

.title-text {
  font-size: 36px;
}

.title-text-small {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.basic-text {
  font-size: 16px;
}

.small-text {
  font-size: 12px;
}

.dark {
  color: #222;
}

.light {
  color: #fff;
}

.justified {
  text-align: justify;
}

.center {
  text-align: center;
}

.counter-text {
  font-size: 28px;
  font-weight: bold;
}

.counter-number {
  background:#333;
  font-size: 36px;
  border: #0092B2 solid 1px;
  border-radius: 3px;
  padding: 3px 8px;
}

/* Spaces */
.space-top-bottom-large {
  margin-top: 60px;
  margin-bottom: 60px;
}

.space-top-bottom-medium {
  margin-top: 40px;
  margin-bottom: 40px;
}

.space-top-large {
  margin-top: 60px;
}

.space-bottom-large {
  margin-bottom: 60px;
}

.space-bottom-medium {
  margin-bottom: 40px;
}

@media (max-width: 650px) {

  .header-wrapper-container {
    position: inherit;
  }

  .reasons-container,
  .features-container,
  .order-container {
    flex-flow: row wrap;
    width: 100%;
  }

  .reasons-item,
  .features-item {
    width: 100%;
    padding: 20px;
  }

  .order-item-60,
  .order-item-40 {
    width: 100%;
  }

  .form {
    float: none;
  }

  .image-left {
    display: block;
    margin: auto;
    padding: 0 20px;
  }

  .nav-header-item {
    padding: 0 5px;
  }

  .space-top-bottom-large {
    margin: 0;
}}
