<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Хорошие вопросы</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Хорошие вопросы", root_path %></h1>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
